body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffcccc; /* Light red background */
    color: #333; /* Dark text color */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; /* White container background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

h1 {
    color: #ff0000; /* Red text color for warning */
    font-size: 40px;
    margin-top: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

a {
    color: #ff0000; /* Red color for link */
    font-weight: bold;
}

.detection-method {
    margin-top: 20px;
    font-weight: bold;
}

.triggered-yes {
    color: red;
}

.triggered-no {
    color: green;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.image-container img { 
    display: inline-block;
}
